<p id="notice"><%= notice %></p>

<p>
  <%= @album.name %> <br />
  <% @album.images.each do |image| %>
    <img src="/images/<%=image.id%>_thumbnail.jpg" /></a>
  <% end %>
</p>
<% if session[:admin] == 'true' then %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
<% end %>
