<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <b>Height:</b>
  <%= @image.height %>
</p>

<p>
  <b>Width:</b>
  <%= @image.width %>
</p>

<p> Album: <%= name = if @image.album then @image.album.name else '' end %> </p>

<p>
  <img src="/images/<%= @image.id %>_thumbnail.jpg" />
</p>

<p>
  <img src="/images/<%= @image.id %>_original.jpg" />
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
