<!DOCTYPE html>
<html>
<head>
  <title>Generic Website</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div style="text-align: center">
<h1 id="navbar" >Generic Website</h1> 
<!-- #F9FFF9 / #E0F0E0 -->
<div id="navbar" style="background-color: #E7E7E7; border-top-style: solid; border-top-width: 1px; border-bottom-style: solid; border-bottom-width: 1px; padding-top: 5px; padding-bottom: 5px; width: 90%; margin-left: auto; margin-right: auto;">
<%= link_to "Home", '/' %> &nbsp; | &nbsp;
<%= link_to "About Me", '/about' %> &nbsp; | &nbsp;
<%= link_to "Portfolio", '/gallery/index' %> &nbsp; | &nbsp; 
<%= link_to "Contact", '/contact' %>
</div>

<%= yield %>
</div>

</body>
</html>
